body{
    background-color: rgb(159, 219, 247);
}

.mainDiv3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title3{
    width: 100%;
    text-align: center;
}

.tabla3{
    display: flex;
    text-align: center;
    width: 500px;
    background-color: rgb(255, 165, 48);
}