body{
    background-color: rgb(253, 173, 99);
}

.mainDiv3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title3{
    width: 500px;
    text-align: center;
}

.tabla3{
    display: flex;
    text-align: center;
    width: 500px;
    background-color: rgb(244, 248, 28);
}